<nav class="app-nav-bar">
  <ul class="nav nav-tabs container">
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLinkActive]="['active', 'pretty']"
        [routerLink]="['home']"
        >Home</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link active"
        [routerLinkActive]="['active', 'pretty']"
        [routerLink]="['courses']"
        >Courses</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link active"
        [routerLinkActive]="['active', 'pretty']"
        [routerLink]="['redux']"
        >Redux Demo</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link active"
        [routerLinkActive]="['active', 'pretty']"
        [routerLink]="['admin']"
        >Admin</a
      >
    </li>
  </ul>
</nav>
